@charset "UTF-8";
body {
	font-family: "Verdana", cursive;
}
a:link {
	color: #FFF;
}
a:visited {
	color: #333;
}
a:active {
	color:#0C0;
}
a:hover {
	color:#900;
}

#banner {
	margin:0;

  	background: #E9E9E9;
}

.content{
	min-height: 300px;
	padding-top: 5px;
	padding-left: 30px;
	padding-bottom: 30px;
}

#header {
	background-image:url(images/banner_right.gif);
	background-repeat:repeat-x;
}

#wrapper_old {
	width: 1024px;
	margin: auto;
	
	position:relative;
	background:#fff;

	display:block;
	
	-moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
	-moz-border-radius-bottomleft: 30px;
    -moz-border-radius-bottomright: 30px;
	
	-khtml-border-radius: 30px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
	}

#wrapper {
	width: 1024px;
	margin: auto;
	
	position:relative;
	background:#fff;

	display:block;
}

#left_{
	background: url(images/side_left.gif);
	width: 60px;
	height: auto;
	float:left;
	margin-left: -13px;
}

#right_{
	background: url(images/side_right.gif);
	width: 60px;
	height: auto;
	float:right;
	margin-right:-13px;

}

#unten_{
		clear:both;
	margin-left:-13px;
	background: url(images/bottom_total.gif) left top no-repeat; /* Die Farbe #000 muss an eure Eckenfarbe angepasst werden */
	text-align: right;
}

.left{
	background: url(images/side_left.gif) top left;
	background-repeat: repeat-y;
	margin: 0px;
	padding: 0px;
	
}

.right{
	background: url(images/side_right.gif) top right;
	background-repeat: repeat-y;
	margin: 0px;
	padding: 0px;

}

.runten{
	background: url(images/runten.gif) bottom right no-repeat; /* Die Farbe #000 muss an eure Eckenfarbe angepasst werden */
	margin: 0px;
	padding: 0px;
}

.lunten{
	background: url(images/lunten.gif) bottom left no-repeat; /* Die Farbe #000 muss an eure Eckenfarbe angepasst werden */

	margin: 0px;
	padding: 0px;
}

.roben{
	background: url(images/roben.gif) top right no-repeat; /* Die Farbe #000 muss an eure Eckenfarbe angepasst werden */
	margin: 0px;
	padding: 0px;
}

.loben{
	height: 104px;
	background: url(images/loben.gif) top left no-repeat; /* Die Farbe #000 muss an eure Eckenfarbe angepasst werden */
	margin: 0px;
	padding: 0px;
}

#menu {
	background: #000066;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 12em;
	border: 0;
}
#menu li {
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
#menu a {
	background: #000066;
	border-bottom: 1px solid #393939;
	color: #ccc;
	display: block;
	margin: 0;
	padding: 8px 12px;
	text-decoration: none;
}
#menu a:hover {
	background: #2580a2 url("images/hover.gif") left center no-repeat;
	color: #fff;
	padding-bottom: 8px;
}

#infobox {
	font-family: "Century Gothic";
	text-align:justify;
	position:absolute;
	top:140px;
	left:550px;
	width: 400px;
	padding: 20px;
	
	border-left-width: .1em;
	border-left-style: dashed;
	border-left-color: #ABABAB;
}

#logobox {
	position:absolute;
	top:120px;
	left:420px;
	width: 400px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
		
	border-left-width: .1em;
	border-left-style: dashed;
	border-left-color: #ABABAB;
	
}